/* Custom arrows */
/* .swiper-button-next,
.swiper-button-prev { */
  /* width: 40px;
  height: 40px;
  background-color: #333;
  color: #fff;
  font-size: 20px;
  border-radius: 50%; */
  /* display: none !important; */
/* } */

/* Hide default navigation arrows */
.swiper-container:not(.custom-navigation) .swiper-button-next,
.swiper-container:not(.custom-navigation) .swiper-button-prev {
  display: none !important;
width: 310px !important; 
height: auto !important;
position: relative;
}

/* .swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #ff0000;
} */

/* Custom bullets */
/* .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #333;
}

.swiper-pagination-bullet-active {
  background-color: #ff0000;
} */
